body {
    font-family: sans-serif;
    text-align: center;
}

/* all elements inside of the element with the class container */
.container > * {
    padding: 40px 30px;
    border: 1px solid black;
    margin: 5px;
}

.container {
    border : 4px solid black;
    padding : 1%;
}

header {
    background-color: red;
}

#leftDiv {
    background-color: orange;
}

#rightDiv {
    background-color: yellow;
}

#sectionOne {
    background-color: green;
}

#sectionTwo {
    background-color: blue;
}

footer {
    background-color: purple;
}